.blog {
  padding: 100px;

  .blog--all {
    position: relative;
    width: 350px;
    margin: auto;

    .blog--img {
      //   width: 100%;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        padding: 20px 0;
      }
    }

    .blog--date {
      position: absolute;
      background-color: #95e1d3;
      padding: 5px 10px;
      border-radius: 3px;
      margin-top: -100px;
      margin-left: -20px;

      h2 {
        font-size: 25px;
        color: #fff;
        margin-bottom: 0;
      }

      h4 {
        font-size: 20px;
        color: #fff;
      }
    }

    h1 {
      font-family: $secondary-font;
      font-size: 0.8rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      font-family: $primary-font;
      font-size: 0.9rem;
      color: #999;
    }

    .blog--icons {
      h5 {
        font-family: $primary-font;
        font-size: 0.9rem;
        font-style: italic;
        color: #999999;
      }
      .blog--view {
        padding-right: 10px;
      }

      .blog--message {
        padding-right: 10px;
      }

      .b-img {
        margin-top: -5px;
        margin-right: 5px;
      }
    }
  }
}
